*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
var/
projectile-bookmarks.eld
session*
.local.el
ac-comphist.dat
.cask
ac-dict
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
network-security.data
